.card {
    background-color: antiquewhite;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    width: 86.7%;
    min-height: 70%;
    height: auto;
    margin-top: 13rem;
    margin-bottom: 6rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    height: auto;

    .current-path{
        display: inline-flex;
        margin-bottom: 24px;
        align-self: flex-start;
        gap: 12px;
        
        a{
            text-decoration: underline;
        }
    }

    
}
